body,
html {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    height: 100%;

}

*,
*:before,
*:after {
    box-sizing: border-box; /* 1 */
}



@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.text-ping-01{
    color: #ff6c77;
}
.index-form-btn{
	/* border-color: #ea838b; */
	background-color: #fff;

    font-size: 22px;
    line-height: 20px;
    height: 45px;
    border-radius: 50px;
    color: #ff6c77;
}

.btn-term {
	background-color: #ff6c77;
	border-color: #ff6c77;
}
.submit-form-btn {
	/* background-color: #ff6c77; */
	/* border-color: #ff6c77; */
    font-size: 22px;
    line-height: 20px;
    height: 45px;
    border-radius: 50px;
    color: #fff;
}
.bootstrap-select.form-control,.bootstrap-select>select{
    border: 1px solid #ced4da !important;
  border-radius: 15px;

}
  .form-check-input{
    accent-color: #7f8c8d;
    
  }
 
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ff6c77;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: thin dotted #333!important;
    outline: 5px auto transparent !important;
    outline-offset: -2px;
}
.text-color-pink{
    color: #ee1f75;

}

.redio-check{
    font-size: 16px;
    font-weight: 300;
}
textarea.form-control,input.form-control{
    border-radius: 10px;
}
textarea.form-control:focus,input.form-control:focus{
    border-color: #ff6c77;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 130, 182, 0.795);
}

.card-register{
  border-radius: 15px;
}
.text-color-pink-1{
    color: #ff6c77;
}

.text-color-blue {
    color: #182c9d !important;
}
.box-header-management {
    display: flex;
    justify-content: space-between;
}

.text-title-form {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6b6b6b;
}

/* ========= HOME PAGE ============= */
.home-container {
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.home-form {
    margin: 2rem;
    position: relative;
    width: 80%;
}

.card-form {
    margin-top: 4rem;
}

.btn-custom {
    border-radius: 10px;
    margin: 1.5rem 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-outline-traking {
    color: #ff6c77;
    background-color: transparent;
    background-image: none;
    border-color: #ff6c77
}

.btn-outline-traking:hover {
    color: #fff;
    background-color: #ff6c77;
    border-color: #ff6c77
}

.btn-outline-traking:focus,
.btn-outline-traking.focus {
    box-shadow: 0 0 0 .2rem rgba(250, 153, 198, 0.63)
}

.btn-outline-traking.disabled,
.btn-outline-traking:disabled {
    color: #ff6c77;
    background-color: transparent
}

.btn-outline-traking:not(:disabled):not(.disabled):active,
.btn-outline-traking:not(:disabled):not(.disabled).active,
.show>.btn-outline-traking.dropdown-toggle {
    color: #212529;
    background-color: #ff6c77;
    border-color: rgb(207, 116, 124)
}

.btn-outline-traking:not(:disabled):not(.disabled):active:focus,
.btn-outline-traking:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-traking.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(250, 153, 198, 0.63)
}

#registerBtn {
    /* background: #ea838b; */
    box-shadow: 0px 8px 10px rgba(255, 204, 228, 0.3);
    font-size: 24px;
    line-height: 20px;
    height: 56px;
    border-radius: 50px;
}


#loginBtn {
    font-size: 18px;
    line-height: 27px;
    height: 57px;
    border-radius: 50px;

}

#trakingBtn{
    font-size: 22px;
    line-height: 20px;
    height: 45px;
    border-radius: 50px;

}

#aboutBtn {
    text-decoration: none;
    font-size: 18px;
    color: #2395ff;
    font-style: normal;
    font-weight: normal;
}

.about-box {
    margin-top: 4rem;
}

.sup-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 42%);
    bottom: 0px;
    width: 250px;
}

.sup-box img {
    display: flex;
    align-items: center;
}

.sup-box .sup-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6b6b6b;
    display: flex;
    align-items: center;
}

.flot-box {
    justify-content: center;
    display: flex;
    align-items: center;
}
.float-tel {
    width: 50px;
    height: 50px;
    background-color: #2395ff;
    color: #000;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    text-decoration: none;
}

.float-tel .text-number {
    color: #3f3f3f;
}

.my-float {
    margin-top: 16px;
}

.login-submit-btn {
    text-align: center;
    /* width: 100px; */
}
.login-submit-btn .btn {
    width: 180px;
}
.login-title-box {
    position: relative;
    margin: 24px 0;
}
.close-modal-btn {
    position: absolute;
    right: 0px;
    top: -38px;
    padding: 15px !important;
}

.login-error-box.hide {
    /* visibility: hidden; */
    display: none;
}
.login-error-box {
    background: #ffe9e9;
    padding: 5px;
    border-radius: 5px;
}

.project-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 70px;
    color: #ff6c77;
     
    /* color: red; */

}
.project-detail {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.project-subdetail {
    font-weight: 600;
    color: #ff6c77;
    font-size: 22px;
    line-height: 22px;
    /* color: #6b6b6b; */
}
/* ====================== */
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}
table.datatable-menagement tbody td {
    font-size: 14px;
}

#termsAndConditions{
    font-size: 18px;
    font-weight: 400;
    /* text-decoration: underline; */
    cursor: pointer;
}


li.term:not(.term) {
    list-style-type: none;
}

li.term{
    font-size: 18px;
    font-weight: 400;
}
/* Absolute Center Spinner */
.loadings {
    position: fixed;
    z-index: 9999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loadings:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

    background: -webkit-radial-gradient(
        rgba(20, 20, 20, 0.8),
        rgba(0, 0, 0, 0.8)
    );
}

/* :not(:required) hides these rules from IE9 and below */
.loadings:not(:required) {
    /* hide "loadings..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loadings:not(:required):after {
    content: "";
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 2s infinite linear;
    -moz-animation: spinner 2s infinite linear;
    -ms-animation: spinner 2s infinite linear;
    -o-animation: spinner 2s infinite linear;
    animation: spinner 2s infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(224, 118, 150, 0.89) 1.5em 0 0 0,
        rgba(224, 118, 150, 0.89)  1.1em 1.1em 0 0,
        rgba(224, 118, 150, 0.89)  0 1.5em 0 0,
        rgba(224, 118, 150, 0.89)  -1.1em 1.1em 0 0,
        rgba(224, 118, 150, 0.89)  -1.5em 0 0 0,
        rgba(224, 118, 150, 0.89)  -1.1em -1.1em 0 0,
        rgba(224, 118, 150, 0.89)  0 -1.5em 0 0,
        rgba(224, 118, 150, 0.89)  1.1em -1.1em 0 0;
    box-shadow: rgba(224, 118, 150, 0.89)  1.5em 0 0 0,
        rgba(224, 118, 150, 0.89)  1.1em 1.1em 0 0,
        rgba(224, 118, 150, 0.89)  0 1.5em 0 0,
        rgba(224, 118, 150, 0.89)  -1.1em 1.1em 0 0,
        rgba(224, 118, 150, 0.89)  -1.5em 0 0 0,
        rgba(224, 118, 150, 0.89)  -1.1em -1.1em 0 0,
        rgba(224, 118, 150, 0.89)  0 -1.5em 0 0,
        rgba(224, 118, 150, 0.89)  1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* ========= REGISTER PAGE ============= */
.card-register {
    margin: 1rem 0;
}

.question-box:not(:last-child) {
    /* border-bottom: 1px solid #ececec; */
    margin-bottom: 1.25rem;
}

.upload-box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-button-upload {
    padding: 10px;
    color: #2395ff;
    background-color: #fff;
    border: 2px solid #2395ff;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}
.bootstrap-select .dropdown-menu {
    width: 100%;
}

.bootstrap-select .dropdown-menu li small {
    white-space: normal;
}

.custom-button-upload:hover,
.custom-button-upload:focus {
    color: #fff;
    background-color: #2395ff;
}
.custom-button-upload:hover > i,
.custom-button-upload:focus > i {
    color: #fff !important;
}

.custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}

.viewImage {
    font-size: 32px;
    color: #2395ff;
}

.exlink {
    cursor: pointer !important;
}

/* ================================= */

/* //mobile */

@media only screen and (max-width: 768px) {
    .border-left{
        border-left: 1px solid transparent!important;
    }
    .project-subdetail{
        font-size: 16px;
    }
    #registerBtn{
        font-size: 16px;
    }
    .register-h{
        font-size: 26px;
    }
}
@media only screen and (max-width: 600px) {
    .box-header-management {
        display: block;
        justify-content: left;
    }
    .project-detail {
        font-size: 30px;
    }
    
}
/* //tablet */
@media only screen and (min-width: 600px) {
    .home-form {
        width: 60%;
    }
    
    
}
/* //desktop */
@media only screen and (min-width: 961px) {
    .home-form {
        width: 40%;
    }
}
@media only screen and (min-width: 1264px) {
}

.datatable-menagement.table>tbody>tr>td {
    font-size: 16px;
    font-weight: 300;
}

.bubbling-heart  {
    color: pink;
    text-shadow: 0 0 40px pink;
    z-index: -1;
  }
  .bubbling-heart div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25vh) scale(0);
    opacity: 0;
    -webkit-animation: bubbleUp 2s infinite;
            animation: bubbleUp 2s infinite;
  }
  .bubbling-heart div .fa {
    transform: translateX(12.5vw) rotate(25deg);
    -webkit-animation: oscillate 4s ease-in-out infinite;
            animation: oscillate 4s ease-in-out infinite;
  }
  .bubbling-heart div:nth-child(2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .bubbling-heart div:nth-child(2) .fa {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bubbling-heart div:nth-child(3) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bubbling-heart div:nth-child(3) .fa {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .bubbling-heart div:nth-child(4) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .bubbling-heart div:nth-child(4) .fa {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  @-webkit-keyframes bubbleUp {
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -25vh) scale(2);
    }
  }
  @keyframes bubbleUp {
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -25vh) scale(2);
    }
  }
  @-webkit-keyframes oscillate {
    50% {
      transform: translateX(-12.5vw) rotate(-25deg);
    }
  }
  @keyframes oscillate {
    50% {
      transform: translateX(-12.5vw) rotate(-25deg);
    }
  }
  
  